<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Delivery Date</th>
        <!-- <th scope="col">Order Status</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
        <td>{{ order.id }}</td>
        <td>{{ order.id }}</td>
        <td>{{ order.item }}</td>
        <td>{{ order.qty }}</td>
        <td>{{ order.deliveryDate }}</td>
        <!-- <td>{{ order.orderStatus.orderStatus }}</td> -->
        <td>
          <a [routerLink]="[order.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>