<div class="container">
  <form #enquiryForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="id">Order ID</label>
        <input #id="ngModel" [(ngModel)]="enquiry.id" name="id" id="id" type="text" class="form-control"
          [readonly]="true">
      </div>
    </div>

    <div class="form-group">
      <label for="qty">Quantity</label>
      <input #qty="ngModel" [(ngModel)]="enquiry.qty" name="qty" id="qty" type="text"
        class="form-control col-md-9" required [readonly]="isReadOnly">
    </div>

    <div class="form-group">
      <label for="deliveryMethod">Delivery Method</label>
      <select #deliveryMethod="ngModel" [(ngModel)]="enquiry.deliveryMethod" name="deliveryMethod"
        id="deliveryMethod" type="text" class="form-control col-md-9" required>
        <option value="courier">Courier</option>
        <option value="pickup">Pick Up</option>
      </select>

      <div *ngIf="enquiry.deliveryMethod == 'courier'">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="courierName">Courier Name</label>
            <input #courierName="ngModel" [(ngModel)]="enquiry.courierName" name="courierName" id="courierName"
              type="text" class="form-control" [readonly]="isReadOnly">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="courierTelephone">Courier Telephone</label>
            <input #courierTelephone="ngModel" [(ngModel)]="enquiry.courierTelephone" name="courierTelephone"
              id="courierTelephone" type="text" class="form-control" [readonly]="isReadOnly">
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="id">Credit Status</label>
        <select #creditStatus="ngModel" [(ngModel)]="enquiry.creditStatus" name="creditStatus"
          id="creditStatus" type="text" class="form-control col-md-9" required>
          <option value="courier">Blocked</option>
          <option value="pickup">Un-Blocked</option>
        </select>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemList">
          <td></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>

    <div class="btn-group" role="group">
      <button class="btn btn-success" [disabled]="!enquiryForm.valid || isReadOnly">Save</button>
      <button class="btn btn-primary" *ngIf="enquiry.id" type="button" (click)="edit()">Edit</button>
      <button class="btn btn-danger" *ngIf="enquiry.id" type="button" (click)="delete()">Delete</button>
    </div>
  </form>
</div>