<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Enquiry ID</th>
        <th scope="col">Customer ID</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of enquiryList">
        <td>{{ enquiry.id }}</td>
        <td>{{ enquiry.customerId }}</td>
        <td>{{ enquiry.item }}</td>
        <td>{{ enquiry.qty }}</td>
        <td>
          <a [routerLink]="[enquiry.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>