<div class="container">
    <h2>Register new customer</h2>
    <div class="form-column">
        <form #form="ngForm" (ngSubmit)="createCustomer(form.value)">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"  required ngModel>
            </div>
            <div class="form-group col-md-6">
                <label for="tradingName">Trading Name</label>
                <input type="text" class="form-control" id="tradingName" name="tradingName" ngModel>
            </div>

            <div class="form-group col-md-6">
                <label for="mainLocation">Main Location</label>
                <input type="text" class="form-control" id="mainLocation" name="mainLocation" ngModel>
            </div>
            <div class="form-group col-md-6">
                <label for="deliveryLocation">Delivery Location</label>
                <input type="text" class="form-control" id="deliveryLocation" name="deliveryLocation" ngModel>
            </div>
            <div class="form-group col-md-6">
                <label for="collectionLocation">Collection Location</label>
                <input type="text" class="form-control" id="collectionLocation" name="collectionLocation" ngModel>
            </div>

            <div class="form-group col-md-3">
                <label for="telephone">Telephone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" ngModel>
            </div>
            <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" ngModel>
            </div>
            <div class="form-group col-md-2">
                <label for="paymentFlag">Set Payment Flag</label>
                <select class="form-control" id="paymentFlag" name="paymentFlag" ngModel>
                    <option>Clear</option>
                    <option>Blocked</option>
                    <option>Pending</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

</div>