<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Trading Name</th>
        <th scope="col">Credit Status</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cust of customerList">
        <td>{{ cust.id }}</td>
        <td>{{ cust.name }}</td>
        <td>{{ cust.tradingName }}</td>
        <td>{{ cust.paymentFlag }}</td>
        <td>{{ cust.email }}</td>
        <td>{{ cust.telephone }}</td>
        <td>
          <a [routerLink]="[cust.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>