<div class="container">
  <h2>Customer Returns</h2>
  <form #form="ngForm" (ngSubmit)="createCustomerReturn(form.value)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputOrderId">Order ID</label>
        <input type="text" class="form-control" id="inputOrderId" name="orderId" required ngModel>
      </div>
      <div class="form-group col-md-2">
        <label for="inputReturnType">Return Type</label>
        <select class="form-control" id="inputReturnType" name="returnType" ngModel>
          <option value="credit">Credit</option>
          <option value="repair">Repair</option>
          <option value="exchange">Exchange</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputItem">Item</label>
        <input type="text" class="form-control" id="inputItem" name="item" required ngModel>
      </div>
      <div class="form-group col-md-4">
        <label for="inputQuantity">Quantity</label>
        <input type="text" class="form-control" id="inputQuantity" name="quantity" required ngModel>
      </div>
      <div class="form-group col-md-4">
        <label for="inputName">Customer Name</label>
        <input type="text" class="form-control" id="inputName" name="name" ngModel>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Process</button>
  </form>
</div>