<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">New Customer</h5>
      </div>
      <a routerLink="/customers/new" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Manage Existing Customers</h5>
      </div>
      <a routerLink="/customers" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img src="https://images.pexels.com/photos/590045/pexels-photo-590045.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">New Enquiry</h5>
      </div>
      <a routerLink="/enquiries/new" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/590045/pexels-photo-590045.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Manage Existing Enquiries</h5>
      </div>
      <a routerLink="/enquiries" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/1323592/pexels-photo-1323592.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">New Order</h5>
      </div>
      <a routerLink="/orders/new" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
    <div class="card">
      <img
        src="https://images.pexels.com/photos/1323592/pexels-photo-1323592.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Manage Sales Orders</h5>
      </div>
      <a routerLink="/orders" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
  </div>

</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        src="https://images.pexels.com/photos/1437541/pexels-photo-1437541.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Customer Returns</h5>
      </div>
      <a routerLink="/returns" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>

    <div class="card">
      <img src="https://images.pexels.com/photos/374720/pexels-photo-374720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Customer Purchase History</h5>
      </div>
      <a routerLink="/customers/new" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>Proceed</a>
    </div>
  </div>
</div>