<div class="container">
  <h2>Create new order</h2>
  <form #form="ngForm" (ngSubmit)="createOrder(form.value)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputName">Customer Name</label>
        <input #name="ngModel" [(ngModel)]="order.customerName" type="text" class="form-control" id="inputName"
          name="customerName" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputBusinessNo">Business Order No</label>
        <input #businessId="ngModel" [(ngModel)]="order.businessId" type="text" class="form-control"
          id="inputBusinessNo" name="businessId">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputItem">Item</label>
        <select #item="ngModel" [(ngModel)]="order.item" class="form-control" id="inputItem" name="item">
          <option>Handlebars</option>
          <option>Bicycle Forks</option>
          <option>Wheels</option>
          <option>Bicycle Frames</option>
          <option>Headtube</option>
          <option>Bicycle Stems</option>
          <option>Pedals</option>
        </select>
      </div>
      <!-- <div class="form-group col-md-4">
        <label for="inputItemDescription">Item Description</label>
        <input #item="ngModel" [(ngModel)]="order.item" type="text" class="form-control" id="inputItemDescription" name="itemDescription">
      </div> -->
    </div>

    <div class="form-row">
      <div class="form-group col-md-1">
        <label for="inputQuantity">Quantity</label>
        <input #quantity="ngModel" [(ngModel)]="order.quantity" type="number" min="0" max="1000" step="1"
          class="form-control" id="inputQuantity" name="quantity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputDeliveryDate">Delivery Date</label>
        <input #deliveryDate="ngModel" [(ngModel)]="order.deliveryDate" type="date" class="form-control"
          id="inputDeliveryDate" name="deliveryDate">
      </div>
      <div class="form-group col-md-4">
        <label for="inputShipment">Mode of Shipment</label>
        <select #modeOfShipment="ngModel" [(ngModel)]="order.modeOfShipment" class="form-control" id="inputShipment"
          name="modeOfShipment">
          <!-- (change)="onChange($event.target.value)" -->
          <option value="courier">Courier</option>
          <option value="post">Post</option>
          <option value="pickup">Pick-up</option>
        </select>
      </div>
      <!-- <div class="form-group col-md-4" [hidden]="hide">
        <label for="inputCourierName">Courier Name</label>
        <input #quantity="ngModel" [(ngModel)]="order.quantity" type="text" class="form-control" id="inputCourierName" name="courierName">

        <label for="inputCourierTel">Telephone</label>
        <input #quantity="ngModel" [(ngModel)]="order.quantity" type="text" class="form-control" id="inputCourierTel" name="courierTel">
      </div> -->
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputShipment">Production Status</label>
        <select #productionStatus="ngModel" [(ngModel)]="order.orderStatus.productionStatus" class="form-control"
          id="inputShipment" name="productionStatus" (change)="onChange($event.target.value)">
          <option value="done">Done</option>
          <option value="notStarted">Not started</option>
          <option value="pending">Pending</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputShipment">Order Status</label>
        <select #orderStatus="ngModel" [(ngModel)]="order.orderStatus.orderStatus" class="form-control"
          id="inputShipment" name="orderStatus" (change)="onChange($event.target.value)">
          <option value="done">Done</option>
          <option value="notStarted">Not started</option>
          <option value="pending">Pending</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputShipment">Warehouse Status</label>
        <select #warehouseStatus="ngModel" [(ngModel)]="order.orderStatus.warehouseStatus" class="form-control"
          id="inputShipment" name="warehouseStatus" (change)="onChange($event.target.value)">
          <option value="done">Done</option>
          <option value="notStarted">Not started</option>
          <option value="pending">Pending</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>