<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form #form="ngForm" (ngSubmit)="createOrder(form.value)">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Full Name</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-user"></i></span><input #name="ngModel"
                      [(ngModel)]="order.customerName" type="text" class="form-control" id="customerName"
                      name="customerName" required></div><br>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Customer ID</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-home"></i></span><input #customerId="ngModel"
                      [(ngModel)]="order.customerId" type="text" class="form-control" id="customerId" name="customerId">
                  </div><br>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Business ID</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-home"></i></span><input #businessId="ngModel"
                      [(ngModel)]="order.businessId" type="text" class="form-control" id="businessId" name="businessId">
                  </div><br>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Item</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon" style="max-width: 100%;"><i
                        class="glyphicon glyphicon-list"></i></span>
                    <select class="selectpicker form-control" #item="ngModel" [(ngModel)]="order.item"
                      class="form-control" id="item" name="item">
                      <option>Handlebars</option>
                      <option>Bicycle Forks</option>
                      <option>Wheels</option>
                      <option>Bicycle Frames</option>
                      <option>Headtube</option>
                      <option>Bicycle Stems</option>
                      <option>Pedals</option>
                    </select>
                  </div><br>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email"
                      placeholder="Email" class="form-control" required="true" value="" type="text"></div><br>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Phone Number</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phoneNumber"
                      placeholder="Phone Number" class="form-control" required="true" value="" type="text"></div><br>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>